<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="sysProperties" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" value="#{@systemProperties}"/>
        <property name="targetMethod" value="putAll"/>
        <property name="arguments">
            <util:properties>
                <prop key="env">test</prop>
            </util:properties>
        </property>
    </bean>

    <context:property-placeholder location="classpath*:*.properties" ignore-unresolvable="true"/>
    <beans:import resource="classpath*:applicationContext-xforms.xml" />
    <import resource="classpath:/META-INF/motech/applicationPlatformServerAPI.xml"/>

    <beans:import resource="classpath*:applicationContext-core.xml"/>

    <bean id="openMRSDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="${connection.string}"/>
        <property name="username" value="${openmrs.db.username}"/>
        <property name="password" value="${openmrs.db.password}"/>
    </bean>

    <util:properties id="couchdbProperties" location="classpath:couchdb.properties"/>

    <bean id="httpClient" class="org.ektorp.spring.HttpClientFactoryBean"/>

    <bean id="couchDbInstance" class="org.ektorp.impl.StdCouchDbInstance">
        <constructor-arg ref="httpClient"/>
    </bean>

    <bean id="couchDbConnector" class="org.ektorp.impl.StdCouchDbConnector">
        <constructor-arg value="${document.name}"/>
        <constructor-arg ref="couchDbInstance"/>
    </bean>

</beans>
