body, div, td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
}

form {
    width: 500px;
}

#page-wrap {
    width: auto;
    margin: 40px auto 5px;
    background: #FFD840;
    padding: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
    background: -moz-linear-gradient(top, #eee, #ccc);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

#main-content {
    padding: 14px;
}
nav ul {
    list-style: none;
    background: #e69f01;
    padding: 5px 10px;
    height: 25px;
}

nav ul li {

    display: inline;
}

nav ul li a {
    display: block;
    float: left;
    border-top: 1px solid #FFE373;
    background: #f5972f;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFD840), to(#FFE373));
    background: -moz-linear-gradient(top, #FFD840, #FFE373);
    height: 17px;
    padding: 3px 10px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    -webkit-text-stroke: 1px transparent;
    font: bold 11px/16px "Lucida Grande", "Verdana", sans-serif;
    color: #A68400;
    text-decoration: none;
    margin: 0 5px 0 0;
}

nav ul li a:hover {
    border-top: 1px solid #dec563;
    background: #e38d2d;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFC840), to(#FFB600));
    background: -moz-linear-gradient(top, #FFC840, #c2a42f);
    color: rgba(100, 100, 100, .85);
}

nav ul li a:active, nav ul li a.current {
    border-top-color: #FFCB00;
    background: #FFA100;
    position: relative;
    top: 1px;
}

.formLabel {
    display: block;
    float: left;
    width: 100px;
    margin-top: 15px;
}

.alertText {
    margin-left: 10px;
    display: inline;
}

.hide {
    display: none;
}
