body, div, td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
}

form {
    width: 500px;
}

#page-wrap {
    width: 90%;
    margin: 40px auto 5px;
    padding: 5px;
}

#main-content {

}

nav ul {
    list-style: none;
    padding: 3px 10px;
    height: 20px;
    background: #8FABC7
}

nav ul li {
    display: inline;

}

nav ul li a {
    display: block;
    float: left;
    padding: 1px 10px;
    font: 14px/16px "Lucida Grande", "Verdana", sans-serif;
    text-decoration: none;
    margin: 0 5px 0 0;
    color: white;
    font-size: 1em;
}

nav ul li a:hover {
    color: rgba(100, 100, 100, .85);
}

nav ul li a:active, nav ul li a.current {
    position: relative;
    top: 1px;
}

.formLabel {
    display: block;
    float: left;
    width: 100px;
    margin-top: 15px;
}

.alertText {
    margin-left: 10px;
    display: inline;
}

.hide {
    display: none;
}

.motech-img{
    margin-left: 3px;
}