<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <aop:aspectj-autoproxy/>
    <context:property-placeholder location="classpath*:*.properties" ignore-unresolvable="true"/>
    <context:annotation-config/>
    <context:spring-configured/>
    <context:component-scan base-package="org.motechproject.ghana.national"/>

    <bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
        <property name="attributes">
            <map>
                <entry key="org.motechproject.ghana.national.validator.RegisterClientFormValidator" value-ref="registerClientFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.MobileMidwifeFormValidator" value-ref="mobileMidwifeFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.RegisterANCFormValidator" value-ref="registerANCFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.RegisterCWCFormValidator" value-ref="registerCWCFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.EditClientFormValidator" value-ref="editClientFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.CareHistoryFormValidator" value-ref="careHistoryFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.ClientDeathFormValidator" value-ref="clientDeathFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.DeliveryNotificationFormValidator" value-ref="deliveryNotificationFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.OutPatientVisitFormValidator" value-ref="outPatientVisitFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.TTVisitFormValidator" value-ref="ttVisitFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.AncVisitFormValidator" value-ref="ancVisitFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.CwcVisitFormValidator" value-ref="cwcVisitFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.PregnancyTerminationFormValidator" value-ref="pregnancyTerminationFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.DeliveryFormValidator" value-ref="deliveryFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.PncBabyFormValidator" value-ref="pncBabyFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.PncMotherFormValidator" value-ref="pncMotherFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.ClientQueryFormValidator" value-ref="clientQueryFormValidator"/>
                <entry key="org.motechproject.ghana.national.validator.GeneralQueryFormValidator" value-ref="generalQueryFormValidator"/>
            </map>
        </property>
    </bean>
</beans>
