<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <import resource="classpath:applicationContext.xml"/>
    <context:annotation-config/>
    <context:spring-configured/>

    <bean id="openMRSDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="${connection.string}"/>
        <property name="username" value="${openmrs.db.username}"/>
        <property name="password" value="${openmrs.db.password}"/>
    </bean>

    <bean id="identifierGenerator"
          class="org.motechproject.ghana.national.repository.IdentifierGenerator"/>
    <util:properties id="ghanaNationalProperties" location="classpath:ghana-national.properties"/>

</beans>
