<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.1//EN" "http://resources.openmrs.org/doctype/config-1.1.dtd">
<module configVersion="1.0">
    <id>ghana-national</id>
    <name>motech-idgen</name>
    <version>1.0</version>
    <package>org.motechproject.openmrs.omod</package>
    <author>Motech</author>
    <description>ID Generator plugin for MoTeCH</description>
    <activator>org.motechproject.openmrs.omod.listener.OmodActivator</activator>
    <require_version>1.8.2</require_version>

    <require_modules>
        <require_module version="2.1">org.openmrs.module.idgen</require_module>
    </require_modules>

    <!-- http://localhost:8080/openmrs/ms/identifier/-->
    <servlet>
        <servlet-name>identifier</servlet-name>
        <servlet-class>org.motechproject.openmrs.omod.web.servlet.OmodIdentifierServlet</servlet-class>
    </servlet>

</module>

