body, div, td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
}

h1 {
    font-size: 14px;
    color: #003366;
}

form {
    width: auto;
}

#page-wrap {
    width: 90%;
    margin: 40px auto 5px;
    padding: 5px;
}

#main-content {

}

nav ul {
    list-style: none;
    padding: 3px 10px;
    height: 20px;
    background: #8FABC7;
    border-radius: 5px;
    position: relative;
}

nav ul li {
    display: block;
    float: left;
    overflow: hidden;

}

nav ul li a {
    display: block;
    float: left;
    padding: 1px 10px;
    font: 14px/14px "Lucida Grande", "Verdana", sans-serif;
    text-decoration: none;
    margin: 0 5px 0 0;
    color: white;
    font-size: 1em;
}

nav ul li a:hover {
    color: rgba(100, 100, 100, .85);
}

nav ul li a:active, nav ul li a.current {
    position: relative;
    top: 1px;
}

#menu ul li ul li {
    /*clear: both;*/
    /*float: none;*/
    padding-bottom: 5px;
}

#menu ul li ul {
    display: none;
    position: absolute;
    top: 1.5em;
    overflow: hidden;
    float: none;
}

.formLabel {
    display: block;
    float: left;
    width: 200px;
    margin-top: 15px;
}

.alertText {
    margin-left: 10px;
    display: inline;
}

.hide {
    display: none;
}

.motech-img {
    margin-left: 3px;
    margin-bottom: 5px;
}

.radio {
    width:155px;
    float: left;
    padding: 10px 0;
}

.form-field {
    height: 40px;
}

.radioError {
    display: block;
    float: left;
    height: 20px;
    padding: 10px 0;
}

.input-description {
    font-style: italic;
    font-size: 0.9em;
}